name: test-go

on:
  push:
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'
  pull_request:
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'
  workflow_dispatch:

jobs:
  test:
    name: run-go-test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '1.23'
      - name: run-test
        run: |-
          go test -v ./go
